<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forever Life A.G. - Servicios</title>
    <link rel="stylesheet" href="/css/Nav.css">
    <link rel="stylesheet" href="/css/servicios.css">
    <script src="https://kit.fontawesome.com/25bda09e7d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/Img/LGO JAVI 2.png">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkBtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="/" class="enlace">
            <img src="/img/LGO JAVI 2.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos.html">Productos</a></li>
            <li><a class="active" href="/servicios.html">Servicios</a></li>
            <li><a href="/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <div class="servicios">
        <!-- Los servicios se cargarán aquí usando servicios.js -->
    </div>

    <a href="javascript:void(0)" class="whatsapp-button" onclick="abrirWhatsAppConMensaje()">
        <i class="fab fa-whatsapp"></i> Agendar una cita
    </a>

    <script src="/js/servicios.js"></script>
</body>

</html>
